.sNav { font-size:1.45rem; }
.sNav ul { margin: 5px -15px 0; }
.sNav ul li { margin-top:13px; padding:12px 0 12px 14%; }
.sNav ul li:hover { background-color:#333; cursor:pointer; color:white; }
.sNav i, .sNav span { margin-right:10px;}